FRONTEND_URL=https://dems-dev.versaterm.org
BACKEND_URL=https://dems-dev.versaterm.org

TEST_OFFICER_USERNAME=officer1
TEST_OFFICER_PASSWORD=officer1pass
TEST_OFFICER2_USERNAME=officer2
TEST_OFFICER2_PASSWORD=officer2pass
TEST_SUPERVISOR_USERNAME=sergeant1
TEST_SUPERVISOR_PASSWORD=sergeant1pass
TEST_ADMIN_USERNAME=admin
TEST_ADMIN_PASSWORD=adminpass
TEST_IA_USERNAME=iauser
TEST_IA_PASSWORD=iauserpass1
TEST_SYSOPS_USERNAME=sysops1
TEST_SYSOPS_PASSWORD=sysops1pass

KEYCLOAK_URL=https://auth.dems-dev.versaterm.org
KEYCLOAK_REALM=dems
KEYCLOAK_CLIENT_ID=dems-ui
